<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naxam.Flexbox.Droid" version="0.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="25.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Compat" version="25.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Build.Download" version="0.4.3" targetFramework="monoandroid90" />
</packages>